.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  overflow-y: hidden;
  box-sizing: border-box;

}

h1 {
  margin: 2rem 0rem;
  font-weight: 800;
  letter-spacing: 0.4rem;
  font-size: 4rem;
}

h1#title {

  background: rgb(136, 63, 217);
  background: linear-gradient(90deg, rgba(136, 63, 217, 1) 0%, rgba(184, 70, 132, 1) 49%, rgba(245, 70, 68, 1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


#homepage {
  width: 50vh;
}


p.date {
  margin: 2rem 0 0 0;

}

div.articleLink {
  margin: 0;
  text-align: start;
  /* overflow: hidden; */
}

div.articleLink:last-child {
  border-bottom: none;
}

p.textbite {
  margin: 0;
}

a.articleLink {
  text-decoration: none;
  color: #181818;
  font-size: 2rem;
  font-weight: 600;
}



/* @keyframes float {
  0% {
    left: -40px;
    top:-40px;
  }
  50% {
    left: -50px;
    top: -50px;
  }
}

@keyframes float2 {
  0% {
    left: -80px;
    top:-80px;
  }
  50% {
    left: -20px;
    top: -20x;
  }

} */