#article {
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
}
#articleContainer {
  max-width: 48rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-shrink: 6;
}
#articleContainer h2 {
  padding: 0;
  margin: 4rem 0 0 1rem;
  padding: 0;
}
#articleContainer p:first-of-type {
  margin: 0rem 1rem;
}
#articleContainer p {
  text-align: start;
  margin: 2rem 1rem;
}
@media only screen and (max-width: 768px) {
  #articleContainer {
    margin: 0.5rem;
  }
  #articleContainer h2 {
    font-size: 1.5rem;
    padding: 0;
    margin: 4rem 0 0 1rem;
  }
  #articleContainer p {
    font-size: 0.9rem;
  }
}
form#comment {
  align-self: center;
  display: flex;
  flex-direction: column;
  width: 50%;
}
form#comment input,textarea{
  width: 100%;
}

