.blur {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  z-index: -20;
}

#backgroundLeft,
#backgroundRight {
  width: 50vw;
  height: 100vh;
  z-index: -4;
  left: 0;
  top: 0;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(50px);
}
#backgroundRight {
  left: -100%;
  width: 50vw;
}
.cloudsRight {
  position: absolute;
  width: 28vw;
  left: 72%;
}

.cloud {
  position: fixed;
  border-radius: 150px;
  clip-path: ellipse(50% 40% at 50% 53%);
}

.sphere,
.sphere2 {
  position: fixed;
}

#cloudsLeft {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 28vw;
  z-index: -5;
  transition: left 0.8s ease-in-out;
}

#spheresLeft {
  z-index: 1;
}
.cloud {
  z-index: -2;
}
.cloud#one {
  width: 15%;
  height: 30%;
  z-index: -2;
  position: absolute;
  left: -4%;
  top: 21vh;
  background-color: #aeb0c7;
}

.cloud#two {
  width: 110%;
  height: 40%;
  position: absolute;
  left: -20%;
  top: 30vh;
  background-color: #a89ec9;
}

.cloud#three {
  width: 50%;
  height: 13%;
  position: absolute;
  margin-left: 60%;
  margin-top: 35vh;
  background-color: #9f93c9;
}
.sphere {
  position: absolute;
  border-radius: 100%;
}
.sphere:nth-child(1) {
  background: rgb(224, 229, 239);
  background: radial-gradient(
    ellipse at center top,
    rgba(224, 229, 239, 0.486) 0%,
    rgba(148, 183, 233, 0.308) 100%
  );
  width: 20rem;
  height: 20rem;
  left: 15%;
  top: 20vh;
  box-shadow: 10px -10px 10px rgba(224, 229, 239, 0.486);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 1s ease-in-out;
}

#orbit {
  flex-shrink: 0;
  width: 22rem;
  height: 22rem;
  border-radius: 100%;
  background: linear-gradient(
    90deg,
    rgba(77, 47, 226, 0.5) 0%,
    rgba(184, 70, 108, 0.466) 12%,
    rgba(245, 136, 68, 0.466) 100%
  );
  display: flex;
  -webkit-mask: radial-gradient(circle 10.9rem, transparent 99%, #fff 100%);
  mask: radial-gradient(circle 2rem, transparent 98%, #fff 100%);
}

.sphere:nth-child(2) {
  background: rgb(224, 229, 239);
  background: radial-gradient(
    ellipse at left bottom,
    rgba(178, 191, 228, 0.829) 20%,
    rgba(219, 216, 226, 0.904) 100%
  );
  width: 4rem;
  height: 4rem;
  left: 10%;
  top: 55vh;
  box-shadow: 2px 2px 10px rgba(224, 229, 239, 0.486);
}

.sphere:nth-child(3) {
  background: rgb(224, 229, 239);
  background: radial-gradient(
    ellipse at left top,
    rgba(178, 191, 228, 0.829) 20%,
    rgba(219, 216, 226, 0.904) 100%
  );
  width: 2rem;
  height: 2rem;
  left: 70%;
  top: 50vh;
  z-index: 1;
}

@media only screen and (max-width: 1580px) {
  #cloudsLeft {
    left: -7vw;
  }

  .sphere:nth-child(1) {
    transform: scale(0.8);
  }
}
@media only screen and (max-width: 1380px) {
  #cloudsLeft {
    left: -12vw;
  }
}
@media only screen and (max-width: 1080px) {
  #cloudsLeft {
    left: -20vw;
  }
  .sphere:nth-child(1) {
    transform: scale(0.6);
  }
}
@media only screen and (max-width: 840px) {
  #cloudsLeft {
    left: -25vw;
  }
}
@media only screen and (max-width: 780px) {
  #cloudsLeft {
    left: -135vw;
  }
  .sphere:nth-child(1) {
    transform: scale(0.4);
  }
}

.cloud2#one {
  width: 20vh;
  height: 30vh;
  z-index: -14;
  position: absolute;
  left: 74vw;
  top: 73vh;
  background-color: #aeb0c7;
}

.cloud2#two {
  width: 60vh;
  height: 40vh;
  z-index: -15;
  position: fixed;
  left: 79vw;
  top: 73vh;
  border-radius: 200px;
  background-color: #a89ec9;
}

.cloud2#three {
  width: 17vh;
  height: 16vh;
  z-index: -12;
  position: absolute;
  left: -28vh;
  top: 33vh;
  background-color: #8a8795;
}

.sphere2#one {
  background: rgb(224, 229, 239);
  background: radial-gradient(
    ellipse at left top,
    rgb(222 223 235) 30%,
    rgb(148 183 233 / 29%) 60%
  );
  width: 12rem;
  height: 12rem;
  left: 85vw;
  top: 73vh;
  border-radius: 400%;
  z-index: -5;
  box-shadow: 15px 10px 25px rgb(224 229 239 / 88%);
}
