#homepage {
  max-width: 80vw;
  width: fit-content;
  margin-bottom: 15rem;
  display: flex;
  flex-direction: column;
}
p.date {
  margin: 2rem 0 0 0;
  position: absolute;
  right: 0;
  bottom: -2px;
  font-family: "PT Sans";
  font-weight: 100;
}
.articleLink {
  position: relative;
  margin: 0;
  text-align: start;
}
p.textbite {
  margin: 1rem 0 0 0;
}
.articleLink {
  text-decoration: none;
  color: #181818;
  font-weight: 300;
}
a.articleLink {
  text-decoration: none;
  color: #181818;
  font-weight: 400;
  margin: 1rem;
}
.articlePreview {
  border-bottom: 1px solid rgb(145, 145, 145);
  margin: 0 0;
  transition: margin 0.2s ease;
  overflow: hidden;
  position: relative;
  margin: -0.5rem 0;
  padding: 0;
  overflow: hidden;
}
.articleLink:hover div.articlePreview {
  margin: 0;
}
.articleLink:hover .hiddenText {
  top: 0;
  margin-bottom: 1.5rem;
}
.hiddenText {
  position: relative;
  transition: top 0.2s ease;
  top: 5rem;
  margin: 0;
}
