#homepage {
  max-width: 80vw;
  width: fit-content;
  margin-bottom: 15rem;
}

p.date {
  margin: 2rem 0 0 0;
}

div.articleLink {
  margin: 0;
  text-align: start;
}

div.articleLink:last-child {
  border-bottom: none;
}

p.textbite {
  margin: 1rem 0 0 0;
}

a.articleLink {
  text-decoration: none;
  color: #181818;
  font-size: 2rem;
  font-weight: 600;
  line-height: 3rem;
}
p.textbite {
  margin: 0;
}

a.articleLink {
  text-decoration: none;
  color: #181818;
  font-size: 2rem;
  font-weight: 600;
}

div.articlePreview {
  border-bottom: 1px solid rgb(145, 145, 145);

  margin: 0 0;
  transition: margin 0.2s ease;
  overflow: hidden;
}

div.articlePreview.hidden {
  position: relative;
  margin: -1.8rem 0;
  padding: 0;
  overflow: hidden;
}

div.articlePreview.shown {
  margin: 0;
}

.hiddenText {
  position: relative;
  transition: top 0.2s ease;
  top: 5rem;
  margin: 0;
}

.hiddenText.shown {
  top: 0;
  margin-bottom: 1rem;
}
